<div class="layout-container" [ngClass]="containerClass">
    <div (mouseleave)="onMouseLeave()">
        <app-topbar></app-topbar>
        <app-sidebar (mouseenter)="onMouseEnter()"></app-sidebar>
    </div>
    <div class="layout-content-wrapper">
        <div class="layout-content">
            <div class="layout-content-inner">
                <app-breadcrumb></app-breadcrumb>
                <router-outlet></router-outlet>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
    <app-config></app-config>
</div>